// abstract
@import "./scss/abstract/variables";
// base
@import "./scss/base/reset";
// components
@import "./scss/components/button";
@import "./scss/components/imput";
// layout
@import "./scss/layuot/aside";
@import "./scss/layuot/body";
@import "./scss/layuot/footer";
@import "./scss/layuot/grid";
@import "./scss/layuot/header";
// pages
@import "./scss/pages/index";

@import "./scss/vendors/bootstrap";


main {
    section {
        .portada{
            margin-top: 20%;
        }
        h1 {
            color: #69b08b;
            display: flex;
            justify-content: center;
        }

        h2 {
            color: black;
            display: flex;
            justify-content: center;
        }

        .cards {
            color: #ecd98a;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;


        }
    }
}

